@font-face {
  font-family: logoSide;
  src: url(../../../static/PoiretOne-Regular.ttf);
}


.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


/* From uiverse.io by @JoseIsra */
.card {
  width: 18rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.content {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
  transition: all 2.25s;
  background-color: var(--maincolor-none-opacity);
  padding: 5em;
  transform-style: preserve-3d;
  border-radius: 1em;
  /* background-image: linear-gradient(to right, orange, purple); */
  /* 字体颜色透明 */
  /* background-clip: text; */
  /* 字体颜色透明 */
  /* -webkit-background-clip: text; */
  /* 字体颜色透明 */
  /* -moz-background-clip: text; */
  /* border: 4px solid var(--maincolor-none-opacity-back); */
  /* backdrop-filter: blur(100px); */
  /* box-shadow: 0 0 15px 10px rgba(35, 35, 35, .1);  */
}



.card:hover .content {
  transform: rotateY(0.5turn);
  background-color: var(--cards-color);
  box-shadow: 0 0 15px 10px rgba(109, 109, 109, 0.1); 
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 16px;
  padding: 2em;
  border-radius: 1em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.title {
  transform: translateZ(5rem);
  font-size: 2rem;
}

.subtitle {
  transform: translateZ(2rem);
}

.back {
  transform: rotateY(0.5turn);
  background-color: var(--cards-color);
}

.description {
  transform: translateZ(3rem);
}
/* From uiverse.io by @JoseIsra */

.row{
  /* 让元素宽度占满屏幕 */
  width: 100%;
  /* 让元素高度自适应 */
  height: auto;
  /* 让元素水平居中 */
  margin: 0 auto;
  /* 让子元平均分布在一行 */
  display: flex;
  justify-content: space-around;
  /* 让子元素垂直居中 */
  align-items: center;
  /* 让子元素自动换行 */
  flex-wrap: wrap;
}

.title ,.subtitle{
  font-family: logoSide;
}
.description{
  font-family: fangsong;
}

.subtitle:hover{
  text-decoration:none;
}

/* From uiverse.io by @satyamchaudharydev */
.cardbtm{
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.cardbtm{
  --primary-color: var(--ifm-color-primary-lightest);
  --hovered-color: var(--ifm-color-primary-lightest);
  position: relative;
  right: -140px;
  top: 20px;
  display: flex;
  font-weight: 800;
  font-size: 20px;
  font-family: logoSide;
  gap: 0.5rem;
  align-items: center;
}

.cardbtm p {
  margin: 0;
  position: relative;
  font-size: 15px;
  color: var(--primary-color)
}

.cardbtm::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.cardbtm p::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.cardbtm:hover::after {
  width: 100%;
}

.cardbtm:hover p::before {
  width: 100%;
}

.cardbtm:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.cardbtm svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}