/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
body {
  overflow-x: hidden !important;
}

:root {
  --backimg: url(../../static/img/background/indexbackground1.png);
}

@font-face {
  font-family: HelloType;
  src: url(../../static/Shojumaru-Regular.ttf);
}

@font-face {
  font-family: logoSide;
  src: url(../../static/PoiretOne-Regular.ttf);
}

/* .heroBanner {
  padding: 4rem 0; 
   text-align: center;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 95vh;
  width: 100%;
  background-image: url(https://api.maho.cc/random-img/pc.php);
  background-image: var(--backimg);

  z-index: 0;
} */

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--ifm-navbar-background-color);
  opacity: 0.3;
  z-index: -3;
  /*倒数第二层*/
}

.firstsawTitle {
  position:relative;
  display: flex;
  margin: 0 auto;
  width: min-content;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Title {
  margin: 0 auto;
  font-size: 90px;
  /* color: var(--ifm-color-primary); */
  background-image: linear-gradient(to right, orange, purple);
  font-family: HelloType;
  animation: swing 10s infinite;
  background-clip: text;
  color: transparent;
  margin: 0 auto;
  /* backdrop-filter: blur(4px); */
}

@keyframes swing {
  /*创建动画*/
  20% {
    transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .Title {
    font-size: 50px;
  }
}

/* From uiverse.io by @G4b413l */
/* .scanner{
  display: flex;
  margin: 0 auto;
  width: min-content;
  transition: all 1s ease-in-out;
}

.scanner .s1 {
  color: transparent;
  font-size:90px;
  position: relative;
  overflow: hidden;
  margin:0 auto;
  width: 450px;
  font-weight: 900;
 }
 
 .scanner .s1::before {
  content: "swfoodt";
  font-family: logoSide;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid var(--ifm-color-primary);
  overflow: hidden;
  color: var(--ifm-color-primary);
  animation: load91371 3s linear infinite;
 }
 
 @keyframes load91371 {
  0%, 10%, 100% {
   width: 0;
  }
 
  10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
   border-right-color: transparent;
  }
 
  11%,21%,31%,41%,51%,61%,71%,81%,91% {
   border-right-color: var(--ifm-color-primary);
  }
 
  60%, 80% {
   width:100%;
  }
 } */

.tagline {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.backimg {
  position: absolute;
  top: -60px;
  left: 0;
  /* width: 100vh; */
  height: 100vh;
  z-index: -1;
  /* height: 100%; */
}
